.search-box-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
}

.search-box-input {
  flex: 8 1 auto;
}

.per-page-container {
  flex: 3 1 auto;
  display: flex;
}

.search-box-button {
  flex: 1 1 auto;
}
